<h1>Gestion de cave à vin</h1>

<div id="maCave">

    <div>
        <label>Nom du propriétaire</label>
        <span>{{ cave.nomProprietaire }}</span>
    </div>
    <div>
        <label>Capacité maximale</label>
        <span>{{ cave.capaciteMaximale }}</span>
    </div>
    <div>
        <label>Emplacement</label>
        <span>{{ cave.emplacement }}</span>
    </div>
    <div>
        <ul>
            <li *ngFor="let b of cave.bouteilles">
                <span (click)="selectionnerBouteille(b)">{{ b.reference }}</span>
            </li>
        </ul>
    </div>
</div>

<hr />

<div id="detailBouteille" *ngIf="bouteilleSelectionnee">
    <div>
        <span>{{ bouteilleSelectionnee.reference }}</span>
    </div>
    <div>
        <span>{{ bouteilleSelectionnee.designation }}</span>
    </div>
    <div>
        <span>{{ bouteilleSelectionnee.annee }}</span>
    </div>
    <div>
        <span>{{ bouteilleSelectionnee.contenance }}L</span>
    </div>
</div>

<hr />

<div id="nouvelleBouteille">

    <h2>Ajouter une nouvelle bouteille</h2>

    <div>
        <label>Référence</label>
        <input [(ngModel)]="nouvelleBouteille.reference" />
    </div>
    <div>
        <label>Désignation</label>
        <input [(ngModel)]="nouvelleBouteille.designation" />
    </div>
    <div>
        <label>Année</label>
        <input [(ngModel)]="nouvelleBouteille.annee"  />
    </div>
    <div>
        <label>Contenance</label>
        <input [(ngModel)]="nouvelleBouteille.contenance" />
    </div>

    <button (click)="ajouterNouvelleBouteille()">OK</button>

</div>