<h1>Gestion de cave à vin</h1>

<div id="listeCave">

    <ul>
        <li *ngFor="let c of caves">
            <span (click)="selectionnerCave(c)">
                {{ c.emplacement }} ({{ c.nomProprietaire }})
            </span>
        </li>
    </ul>

</div>

<hr />

<div id="detailCave" *ngIf="caveSelectionnee">

    <div>
        <label>Nom du propriétaire</label>
        <span>{{ caveSelectionnee.nomProprietaire }}</span>
    </div>
    <div>
        <label>Capacité maximale</label>
        <span>{{ caveSelectionnee.capaciteMaximale }}</span>
    </div>
    <div>
        <label>Emplacement</label>
        <span>{{ caveSelectionnee.emplacement }}</span>
    </div>
    <div>
        <ul>
            <li *ngFor="let b of caveSelectionnee.bouteilles">
                <span (click)="selectionnerBouteille(b)">
                    {{ b.designation }} ({{ b.reference }})
                </span>
            </li>
        </ul>
    </div>
</div>

<hr />

<!--
    Utiliser le composant détail-bouteille
    pour afficher la bouteille sélectionnée
-->
<detail-bouteille [bouteille]="bouteilleSelectionnee"></detail-bouteille>

<hr />

<div id="nouvelleBouteille" *ngIf="caveSelectionnee">

    <h2>Ajouter une nouvelle bouteille dans la cave de : {{ caveSelectionnee.nomProprietaire | uppercase }}</h2>

    <div>
        <label>Référence</label>
        <input [(ngModel)]="nouvelleBouteille.reference" />
    </div>
    <div>
        <label>Désignation</label>
        <input [(ngModel)]="nouvelleBouteille.designation" />
    </div>
    <div>
        <label>Année</label>
        <input [(ngModel)]="nouvelleBouteille.annee"  />
    </div>
    <div>
        <label>Contenance</label>
        <input [(ngModel)]="nouvelleBouteille.contenance" />
    </div>

    <button (click)="ajouterNouvelleBouteille()">OK</button>

</div>