<div id="CreerBouteille" *ngIf="bouteille">

    <fieldset>
        <legend>Creer une nouvelle bouteille </legend>

        <div>
            <label>Designation</label>
            <input [(ngModel)]="bouteille.designation" />
        </div>
        <div>
            <label>Annee</label>
            <input [(ngModel)]="bouteille.annee" />
        </div>
        <div>
            <label>Contenance</label>
            <input [(ngModel)]="bouteille.contenance" />
        </div>


        <button (click)="creerNouvelleBouteille()">OK</button>

    </fieldset>

</div>